/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  font-size: 16px;
  color: #676a81;
  background: #fff;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

a {
  text-decoration: none;
}

/* Header Styles */
header {
  width: 100%;
  height: 90px; /* Adjust height as needed */
  background-color: #104b53;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16%;
  gap: 5%;
}

.navbar-brand {
  color: #d99b5e;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.heading {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

/* Main Grid Styles */
.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 96%;
  gap: 20px;
  margin: 20px auto;
}

.games-main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 96%;
  gap: 20px;
  margin: 20px auto;
}

.item {
  background-color: #272727;
  border-radius: 15px;
  overflow: hidden;
  height: 101%;
  position: relative; /* Add position relative for hover effect */
  transition: all 0.3s ease; /* Add smooth transition for hover effect */
}

.item:hover {
  transform: scale(1.05); /* Scale the item on hover */
  border-radius: 10px;
}

.image {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.aspect-ratio {
  aspect-ratio: 1;
}

.item:hover .image {
  opacity: 0.7; /* Reduce opacity on hover */
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  text-align: center;
}

.name {
  color: #e7e7e7;
  font-size: 1.3em;
  font-weight: 800;
  letter-spacing: 1px;
  width: 85%;
  text-align: start;
}

.games-name {
  width: 50%;
}

.built-with {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
  gap: 5%;
}

.built-with-text {
  color: #fff;
  font-size: 1.1em;
  font-weight: 600;
}

.fab {
  font-size: 1.25em;
}

.fa-html5 {
  color: #e44d26;
}

.fa-css3 {
  color: #264de4;
}

.fa-js {
  color: #f7df1e;
}

.fa-react {
  color: #61dafb;
}

/* Responsive CSS */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .main-grid,
  .games-main-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .main-grid,
  .games-main-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .info {
    padding: 10px 2%;
  }
}

@media screen and (max-width: 425px) {
  header {
    padding: 0 3%;
  }
  .main-grid,
  .games-main-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
