/*// Fonts */
/* font-family: "Ubuntu", sans-serif; */
/* font-family: "Poppins", sans-serif; */
/* font-family: "PT Sans", sans-serif; */
/* // */

/* 
*TODO 1: create github repo, connect and upload files 
*TODO 2: add and style about section 
*TODO 3: add and style projects section and connect to the outer pages
*TODO 4: add and style experience section
TODO 5: add and style profiles section
TODO 6: add and style footer 

TODO 7: Recreate styles into mobile-first
TODO 8: add responsive styles
TODO 9: finish up
*/

:root {
  /* Color variables */
  --primary-blue: #104b53;
  --hover-blue: #1b5e67;
  --primary-orange: #d99b5e;
  --light-orange: #fad9b8;

  /* Secondary collors */
  --grey: #999fb3;
  --light-grey: #c6c6c6;
}

/* * 1. Global styles */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-family: "PT Sans", sans-serif;
  font-size: 1.65rem;
  font-weight: 400;
  color: #43485c;
}

/* * 2. header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 366px;
  background-color: var(--primary-blue);
}

.main-name {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--primary-orange);
}

.main-name a {
  color: inherit;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  list-style: none;
}

.nav-bar-item {
  font-family: "PT Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--light-grey);
  transition: color 0.3s linear;
}

.nav-bar-item:hover {
  color: var(--primary-orange);
}

.nav-bar-item a {
  color: inherit;
}

/* * 3. Main styles */

/* * Welcome section styles */
.welcome-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1920 / 907;
}

.welcome-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: brightness(0.5);
  z-index: -1;
}

.welcome-heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  color: white;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0;
}

.orange-text {
  font-size: 4.1rem;
  color: var(--primary-orange);
}

.welcome-text {
  font-family: "PT Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.resume-button {
  margin-top: 80px;
  padding: 20px 35px;
  border-radius: 5px;
  background-color: var(--primary-blue);
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  transition: all 0.4s ease-in-out;
}

.resume-button:hover {
  box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
  background-color: var(--hover-blue);
}

/** About section styles */
.about-section {
  justify-content: space-between;
  margin: 30px 16%;
}

.about-body-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.about-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}

.about-info {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--grey);
  width: 93%;
  margin-bottom: 20px;
}

.about-info-wrapper hr {
  background-color: var(--light-grey);
  width: 90%;
  margin-right: 10%;
}

.details-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.detail-title {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  margin: 10px 0 0 0;
}

.detail-title i {
  font-size: 1.4rem;
}

.detail-info {
  font-family: "PT Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--grey);
  margin: 10px 0;
}

.about-hero-image {
  width: 450px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 14px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 20px 14px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px 14px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}

.about-hero-image:hover {
  -webkit-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.4);
}

/** Projects section styles */
.projects-section {
  background-color: var(--primary-blue);
  padding: 30px 16% 70px;
  gap: 20px;
}

.light {
  color: #cbcbcb;
}

.project-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.project-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  aspect-ratio: 700 / 500;
  overflow: hidden;
  border: 5px solid var(--grey);
  transition: border 0.3s linear;
}

.project-link-image {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
}

.hover-wrapper {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: var(--hover-blue);
  opacity: 0;
  transition: opacity 0.3s linear, width 0.1s linear, height 0.1s linear;
  z-index: 1;
}

.hover-wrapper-text {
  position: absolute;
  opacity: 0;
  font-family: "Popins", sans-serif;
  font-size: 0.5rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  transition: all 0.3s linear;
  z-index: 2;
}

.project-link:hover {
  border: none;
}

.project-link:hover .project-link-image {
  transform: scale(1.3);
}

.project-link:hover .hover-wrapper {
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.project-link:hover .hover-wrapper-text {
  opacity: 1;
  font-size: 1.4rem;
}

/** Experience section styles */
.experience-section {
  padding: 30px 16%;
  border-bottom: 2px solid var(--light-grey);
}

.experience-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.experinece-date {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 0;
}

.experience-text {
  font-family: "PT Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--grey);
  margin-top: 0;
}

.right-allign {
  text-align: right;
}

.divider {
  position: relative;
  height: 190px;
  margin-top: 20px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
}

.divider::before {
  content: "";
  position: absolute;
  top: -9px;
  left: -6px;
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-orange);
}

.right-half {
  margin-right: -32%;
}

.company-name {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.location {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--grey);
  margin-top: 0;
  margin-left: 10px;
}

/** profiles section styles */
.profiles-section {
  padding: 80px 16%;
  flex-direction: row;
}

.profile-tile {
  position: relative;
  width: 30%;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-grey);
  border-top: none;
  color: black;
}

.after {
  width: 0;
  height: 0;
  position: absolute;
  background-color: var(--hover-blue);
  transition: all 0.3s linear;
}

.profile-tile svg {
  z-index: 1;
}

.profile-tile svg path {
  transition: all 0.3s linear;
}

.fa-brands {
  font-size: 2rem;
  transition: all 0.3s linear;
  z-index: 1;
}

.profile-link-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  margin: 0;
  transition: all 0.3s linear;
  z-index: 1;
}

.profile-tile:hover .after {
  width: 100%;
  height: 100%;
}

.profile-tile:hover .profile-link-title,
.profile-tile:hover .fa-brands {
  color: var(--light-orange);
}

.profile-tile:hover > svg > path {
  fill: var(--light-orange);
}
