/* 
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
| responsive design for tablet devices |
| ------- more then 1920px width ------ |
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 
*/
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    width: auto;
    height: auto;
    position: static;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .nav-bar-item {
    font-size: 1.2rem;
  }

  .welcome-section {
    padding-bottom: unset;
    height: 65vh;
  }

  .welcome-heading {
    margin-top: unset;
    font-size: 4.2rem;
  }

  .welcome-text {
    font-size: 1.4rem;
  }

  .about-section {
    justify-content: unset;
    height: 96vh;
  }

  .about-info-wrapper hr {
    margin-right: unset;
    width: 100%;
  }

  .about-hero-image {
    width: 45%;
    position: absolute;
    top: 48%;
    left: 46%;
  }

  .projects-section {
    padding: 0 12% 70px;
  }

  .profiles-section {
    padding: 40px 30px 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
  }

  .profile-tile {
    border: 1px solid var(--light-grey);
    border-top: none;
  }

  footer {
    flex-direction: row;
    padding: 20px 30px;
  }

  footer .main-name {
    font-size: 1.5rem;
  }

  .footer-links {
    width: auto;
    justify-content: center;
    gap: 10%;
  }

  .footer-links .fa-brands {
    font-size: 2.7rem;
  }
}

/* 
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
| responsive design for desktop devices |
| ------- more then 1440px width ------ |
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 
*/
@media screen and (min-width: 1440px) {
  /* ------------
     -- header --
     ------------ */
  header {
    padding: 0 16%;
  }
  .main-name {
    font-size: 2rem;
  }

  .hamburger {
    display: none;
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    width: auto;
    height: auto;
    position: static;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .nav-bar-item {
    font-size: 1.2rem;
  }

  .nav-bar-item:hover {
    color: var(--primary-orange);
  }
  /* ----------
     -- main --
     ---------- */

  /* Welcome section */
  .welcome-section {
    aspect-ratio: 1920 / 907;
  }

  .welcome-heading {
    font-size: 6rem;
    margin-top: 10%;
  }

  .welcome-text {
    font-size: 2rem;
  }

  .resume-button {
    margin-top: 80px;
    transition: all 0.4s ease-in-out;
  }

  .resume-button:hover {
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
    background-color: var(--hover-blue);
  }
  /* About section */
  .about-section {
    padding: 30px 12%;
  }

  .about-body-wrapper {
    flex-direction: row;
  }

  .about-title {
    font-size: 1.8rem;
    text-align: left;
  }

  .about-info {
    font-size: 1.5rem;
    line-height: 2.4rem;
    width: 100%;
  }

  .details-box {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .about-hero-image {
    width: 50%;
    position: static;
  }

  .about-hero-image:hover {
    -webkit-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.4);
  }

  /* Projects section */
  .projects-section {
    padding: 30px 16% 70px;
  }

  .project-wrapper {
    flex-direction: row;
  }

  .project-link:hover {
    border: none;
    .project-link-image {
      transform: scale(1.3);
    }
    .hover-wrapper {
      opacity: 0.6;
      width: 100%;
      height: 100%;
    }
    .hover-wrapper-text {
      opacity: 1;
      font-size: 1.4rem;
    }
  }

  /* Experience section */
  .experience-section {
    padding: 30px 16%;
  }

  .experience-wrapper {
    flex-direction: row;
    gap: 20px;
  }

  .experinece-date {
    font-size: 1.5rems;
  }

  .right-allign {
    text-align: right;
  }

  .divider {
    position: relative;
    height: 190px;
    margin-top: 20px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
  }

  .divider::before {
    content: "";
    position: absolute;
    top: -9px;
    left: -6px;
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--primary-orange);
  }

  .right-half {
    margin-right: -34%;
  }

  .company-name {
    font-size: 1.5rem;
  }

  /* Profiles section */
  .profiles-section {
    padding: 100px 16%;
    display: flex;
    flex-direction: row;
    gap: unset;
  }

  .profile-tile {
    width: 30%;
    border: 1px solid var(--light-grey);
    border-top: none;
  }

  .profile-tile:hover {
    .after {
      width: 100%;
      height: 100%;
    }
    .profile-link-title,
    .fa-brands {
      color: #fad9b8;
    }
    .profile-tile-icon path {
      fill: #fad9b8;
    }
  }

  /* ------------
     -- Footer --
     ------------ */
  footer {
    padding: 18px 16%;
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
  }

  .footer-links {
    width: 10%;
  }

  .footer-links .fa-brands {
    font-size: 2rem;
  }

  .footer-link:hover .fa-brands {
    color: var(--light-orange);
  }
}

/* 
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
| responsive design for desktop devices |
| ------- more then 1920px width ------ |
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ 
*/
@media screen and (min-width: 1920px) {
  .welcome-section {
    height: auto;
  }
  .about-section {
    padding: 30px 16%;
    height: auto;
  }
  .about-info {
    width: 92%;
  }
  .about-info-wrapper hr {
    width: 92%;
    margin-right: 10%;
  }
  .details-box {
    width: 75%;
  }
  .about-hero-image {
    width: 35%;
    position: static;
  }
}
