/*// Fonts */
/* font-family: "Ubuntu", sans-serif; */
/* font-family: "Poppins", sans-serif; */
/* font-family: "PT Sans", sans-serif; */
/* // */

/* 
*TODO 1: create github repo, connect and upload files 
*TODO 2: add and style about section 
*TODO 3: add and style projects section and connect to the outer pages
*TODO 4: add and style experience section
*TODO 5: add and style profiles section
*TODO 6: add and style footer 

*TODO 7: Recreate styles into mobile-first
  {
    *about section
    *projects section, fix outer page mobile responsivnes
    *experience section
    *profiles section
    *footer
  }
TODO 8: add responsive styles
TODO 9: finish up
*/

:root {
  /* Color variables */
  --primary-blue: #104b53;
  --hover-blue: #1b5e67;
  --primary-orange: #d99b5e;
  --light-orange: #fad9b8;

  /* Secondary collors */
  --grey: #999fb3;
  --light-grey: #c6c6c6;
}

/* * 1. Global styles */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-family: "PT Sans", sans-serif;
  font-size: 1.65rem;
  font-weight: 400;
  color: #43485c;
}

.nav-handle {
  position: absolute;
  top: -100px;
}

/* * 2. header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 27px;
  background-color: var(--primary-blue);
}

.main-name {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--primary-orange);
}

.main-name a {
  color: inherit;
}

.nav-bar {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  padding: 70px 20px 20px 20px;
  gap: 30px;
  margin: 0;
  width: 60%;
  height: 100vh;
  list-style: none;
  background-color: var(--primary-blue);
  -webkit-box-shadow: -200px 0px 300px 52px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -200px 0px 300px 52px rgba(0, 0, 0, 0.75);
  box-shadow: -200px 0px 300px 52px rgba(0, 0, 0, 0.75);
}

.visible {
  display: flex;
}

.nav-bar-item {
  font-family: "PT Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--light-grey);
  transition: color 0.3s linear;
}

.nav-bar-item a {
  color: inherit;
}

/** 3. Main styles */

/** Welcome section styles */
.welcome-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
  overflow: hidden;
}

.welcome-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  margin-left: -80%;
  filter: brightness(0.5);
  z-index: -1;
}

.welcome-heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.2rem;
  font-weight: 900;
  color: white;
  text-transform: capitalize;
  text-align: center;
  margin-top: 35%;
  margin-bottom: 0;
}

.orange-text {
  font-size: inherit;
  color: var(--primary-orange);
}

.welcome-text {
  font-family: "PT Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
}

.resume-button {
  margin-top: 20px;
  padding: 20px 35px;
  border-radius: 5px;
  background-color: var(--primary-blue);
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

/** About section styles */
.about-section {
  justify-content: space-between;
  padding: 30px;
}

.about-body-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.about-info {
  font-family: "PT Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--grey);
  margin-bottom: 20px;
}

.about-info-wrapper hr {
  background-color: var(--light-grey);
  width: 90%;
  margin-right: 10%;
}

.details-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.detail-title {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  margin: 10px 0 0 0;
}

.detail-title i {
  font-size: 1.4rem;
}

.detail-info {
  font-family: "PT Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--grey);
  margin: 10px 0;
}

.about-hero-image {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 14px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 20px 14px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px 14px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}

/** Projects section styles */
.projects-section {
  background-color: var(--primary-blue);
  padding: 0 30px 70px;
  gap: 20px;
}

.light {
  color: #cbcbcb;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 700 / 500;
  overflow: hidden;
  border: 5px solid var(--grey);
  transition: border 0.3s linear;
}

.project-link-image {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
}

.hover-wrapper {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: var(--hover-blue);
  opacity: 0;
  transition: opacity 0.3s linear, width 0.1s linear, height 0.1s linear;
  z-index: 1;
}

.hover-wrapper-text {
  position: absolute;
  opacity: 0;
  font-family: "Popins", sans-serif;
  font-size: 0.5rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  transition: all 0.3s linear;
  z-index: 2;
}

/** Experience section styles */
.experience-section {
  padding: 30px;
  border-bottom: 2px solid var(--light-grey);
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.experinece-date {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 0;
}

.experience-text {
  font-family: "PT Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--grey);
  margin-top: 0;
}

.right-allign {
  /* text-align: right; */
  margin-bottom: 0;
}

.company-name {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

.location {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--grey);
  margin-top: 0;
  margin-left: 10px;
}

/** profiles section styles */
.profiles-section {
  padding: 100px 30px;
  flex-direction: column;
}

.profile-tile {
  position: relative;
  width: 100%;
  height: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #43485c;
}

.after {
  width: 0;
  height: 0;
  position: absolute;
  background-color: var(--hover-blue);
  transition: all 0.3s linear;
}

.profile-tile-icon {
  z-index: 1;
  width: 30px;
  aspect-ratio: 1;
}

.profile-tile-icon path {
  fill: #43485c;
  transition: fill 0.3s linear;
}

.fa-brands {
  font-size: 2rem;
  transition: all 0.3s linear;
  z-index: 1;
}

.profile-link-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: #43485c;
  margin: 0;
  transition: all 0.3s linear;
  z-index: 1;
}

/** 4. footer styles  */
footer {
  width: 100%;
  background-color: var(--primary-blue);
  padding: 18px 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.footer-p,
.footer-mail {
  font-family: "PT Sans";
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--grey);
  margin: 0;
}

.footer-p:first-child {
  margin-bottom: 10px;
}

.footer-mail {
  font-size: 1rem;
}

.footer-links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-links .fa-brands {
  font-size: 3rem;
  color: var(--grey);
  -moz-text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.65);
  text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.65);
}
